@model List<MyPortfolio.DAL.Entities.Testimonial>
<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Say.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="testimonials__slide">
                    <img src="@Model[i].Image" alt="Author image" class="testimonials__avatar">
                    <p>
                        @Model[i].Description
                    </p>
                    <div class="testimonials__author h06">
                        @Model[i].Name @Model[i].Surname
                        <span>@Model[i].Title</span>
                    </div>
                </div>
            }
        </div>

    </div>

</div>
