@model List<MyPortfolio.DAL.Entities.Experience>
@{
    var sortedExperiences = Model
        .OrderByDescending(e => e.EndDate == null)  // EndDatei null olanları öne alır
        .ThenByDescending(e => e.EndDate)           // Sonra EndDate'e göre sıralar
        .ThenByDescending(e => e.StartDate)         // Son olarak StartDate'e göre sıralar
        .ToList();

    int halfCount = (Model.Count + 1) / 2;  // Deneyimlerin yarısını bulur, tek sayıda ise bir fazlasını alır
}

@if(Model.Any()){
<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>My Work Experience.</h3>
    </div>
    <div class="col-six tab-full left">
        <div class="timeline">
                @foreach (var experience in sortedExperiences.Take(halfCount))
            {


                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">@experience.StartDate.ToString("yyyy-MM") - @(experience.EndDate != null ? experience.EndDate.Value.ToString("yyyy-MM") : "Present")</p>
                        <h3>@experience.Company</h3>
                        <h5>@experience.Position</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>@experience.Description</p>
                    </div>
                </div>


            }
        </div>
    </div>

    <div class="col-six tab-full right">
        <div class="timeline">
                @foreach (var experience in sortedExperiences.Skip(halfCount).Take(Model.Count - halfCount))
            {


                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">@experience.StartDate.ToString("yyyy-MM") - @(experience.EndDate != null ? experience.EndDate.Value.ToString("yyyy-MM") : "Present")</p>
                        <h3>@experience.Company</h3>
                        <h5>@experience.Position</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>@experience.Description</p>
                    </div>
                </div>

            }
        </div>
    </div>

</div>
}