@model List<Experience>
@{
    ViewData["Title"] = "ExperienceList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Experiences</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">My Experiences</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can perform operations related to experiences from this panel.
                        </div>
                        <a href="/Experience/CreateExperience" class="btn btn-primary">Create</a>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exp in Model)
                                {
                                    <tr>
                                        <td>@exp.Id</td>
                                        <td>@exp.Company</td>
                                        <td>@exp.Position</td>
                                        <td>@exp.StartDate.ToShortDateString()</td>
                                        <td>@exp.EndDate</td>
                                        <td>
                                            <a href="/Experience/DeleteExperience/@exp.Id" class="btn btn-danger">
                                                <i class="la la-trash"></i>@* Delete *@
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Experience/UpdateExperience/@exp.Id" class="btn btn-success">
                                                <i class="la la-edit"></i>@* Update *@
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>