@model MyPortfolio.DAL.Entities.Contact
<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>Contact</h3>
            <h1>@Model.Title</h1>

            <p class="lead">@Model.Description</p>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form name="contactForm" id="contactForm" method="post" novalidate>
                <fieldset>
                    <div class="form-field">
                        <input name="NameSurname" type="text" id="contactName" placeholder="Name Surname" required class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="Email" type="email" id="contactEmail" placeholder="Email" required class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="Subject" type="text" id="contactSubject" placeholder="Subject" required class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="Content" id="contactMessage" placeholder="Message" required class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button type="button" onclick="submitForm()" class="full-width btn--primary">Submit</button>
                    </div>
                </fieldset>
            </form>

            <script>
                function submitForm() {
                    var form = document.getElementById('contactForm');

                    // Formun validasyon kurallarına uygun olup olmadığını kontrol eder..
                    if (!form.checkValidity()) {
                        // Eğer form geçerli değilse, tarayıcı tarafından sağlanan hata mesajlarını göster
                        form.reportValidity();
                        return;
                    }

                    var formData = new FormData(form);

                    fetch('/ContactForm/Submit', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // alert('Form başarıyla gönderildi!');
                                // Başarılıysa başarı mesajını gösterir..
                                document.querySelector('.message-success').style.display = 'block';
                                // Formu temizler..
                                form.reset();
                                // Başarı mesajını 10 saniye sonra gizler..
                                setTimeout(function () {
                                    document.querySelector('.message-success').style.display = 'none';
                                }, 10000); // 10000 milisaniye = 10 saniye
                            } else {
                                // Hatalıysa uyarı mesajını gösterir..
                                document.querySelector('.message-warning').style.display = 'block';
                                // Uyarı mesajını 10 saniye sonra gizler..
                                setTimeout(function () {
                                    document.querySelector('.message-warning').style.display = 'none';
                                }, 10000); // 10000 milisaniye = 10 saniye
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Hata durumunda uyarı mesajını gösterir..
                            document.querySelector('.message-warning').style.display = 'block';
                            // Uyarı mesajını 10 saniye sonra gizler..
                            setTimeout(function () {
                                document.querySelector('.message-warning').style.display = 'none';
                            }, 10000); // 10000 milisaniye = 10 saniye
                        });
                }
            </script>

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div>

            <!-- contact-success -->
            <div class="message-success">
                Your message was sent, thank you!<br>
            </div>

        </div>
        <div class="col-four tab-full contact__infos">
            <h4 class="h06">Phone</h4>
            <p>
                @Model.Phone1<br>
                @Model.Phone2<br>
            </p>

            <h4 class="h06">Email</h4>
            <p>
                @Model.Email1<br>
                @Model.Email2
            </p>

            <h4 class="h06">Address</h4>
            <p>
                @Model.Address
            </p>
        </div>

    </div>

</section>
